@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
a, h2, p, ul, li {
    list-style-type: none;
    padding: 0;
    margin:0;
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: 200px;
}

aside {
    background: rgba(148, 104, 70, 0.7); 
}

aside li {
    margin-bottom: 10px;
}


.products {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
}
.wrapper {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-gap: 20px;
    
}

.products-h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 10px;
    text-decoration: underline;
}

.box {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categorie {
    font-weight: bold;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 15px;
}

.buy-button-container {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buy-button {
    display:block;
    background-color: #6D213C;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height:16px;
    width: 150px;
    padding: 15px;
    margin: 20px auto;
    text-transform: uppercase;

  }

