.wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 1px;
    border-radius: 10px;
    grid-gap: 100px;
}

img {
    background: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
}

.desc {
    display: grid;
    justify-content: center;
    line-height: 2rem;
    margin-bottom: 100px;
}

.p-desc {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.buy-button-container {
    display:block;
    background-color: #1aa98d;
    color: #FFF;
    font-size: 16px;
    line-height:16px;
    width: 150px;
    padding: 15px;
    margin: 20px auto;
    text-transform: uppercase;
    /* position: absolute; */
    bottom: 0;
    justify-content: center;
    margin-right: 700px;
}

.desc h2 {
    /* position: absolute; */
    bottom: 80px;
    justify-content: center;
}

.title {
    text-align: center;
}