img {
    max-width: 100%;
    height: 500px;
}

.product-titel {
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.product-card {
   display: grid;
   grid-template-columns: 50% 50%;
   
   
}

.product-img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    line-height: 2rem;

}

.specification-ul {
    margin: 0;
    padding:0;
    text-decoration: none;
    margin-bottom: 10px;

}

.buy-button-container {
    width: 150px;
  }
  .buy-button {
    display:block;
    background-color: #1aa98d;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height:16px;
    width: 150px;
    padding: 15px;
    margin: 20px auto;
    text-transform: uppercase;

  }
