@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.logo   {
    max-width: 100%;
    height: 80px;
    margin-left: 20px;
    margin-top: 8px;
}

header {
    background-color: #6d213c;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    color: #baab68;
    display: inline-flex;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 25px;
}

header a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.main h1 {
    color: white;
    font-size: 100px;
    font-style: bold;
}
.main p {
    color: white;
    padding-left: 180px;
    padding-right: 180px;
}

.main {   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container{
    width: 40%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 9px;
    padding: 10px;
}

.box {
    display: block;
    align-items: center;
    justify-content: center;
}

.main h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-style: bold;
}